@tailwind base;
@tailwind components;
@tailwind utilities;
   

*{
  /* font-family: "Noto Sans", sans-serif; */
  font-family: "Poppins", sans-serif;  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkblue; 
  border-radius: 10px;
}
